.landing-page, .view-all, .asia, .australia,
.n-am, .s-am, .acirfa, .europe, .antarctica {
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 50vw;
    max-height: 300px;
}

.landing-page {
    background: url(../src/assets/hero-img-landing.jpg) no-repeat center;
}

.view-all {
    background: url(../src/assets/hero-img-browse-all.jpg) no-repeat center;
}

.asia {
    background: url(../src/assets/hero-img-asia.jpg) no-repeat center;
}

.australia {
    background: url(../src/assets/hero-img-australia.jpg) no-repeat center;
}

.n-am {
    background: url(../src/assets/hero-img-nth-america.jpg) no-repeat center;
}

.s-am {
    background: url(../src/assets/hero-img-sth-america.jpg) no-repeat center;
}

.acirfa {
    background: url(../src/assets/hero-img-africa.jpg) no-repeat center;
}

.europe {
    background: url(../src/assets/hero-img-europe.jpg) no-repeat center;
}

.antarctica {
    background: url(../src/assets/hero-img-antarctica.jpg) no-repeat center;
}